html {
    background-color: rgb(10, 10, 10);
}

h1 {
    color: azure;
    font-family: Segoe UI;
}

h3 {
    color: azure;
    font-family: Segoe UI;
}

h5 {
    color: lightslategray;
    font-family: Segoe UI;
}

img:hover {
    opacity: 0.5;
    text-transform: uppercase;
}

